{% extends "base.html" %}
{% block content %}
<div class="card shadow p-4">
    <h3 class="mb-4 text-danger border-bottom pb-2">Cadastrar Instituição</h3>
    <form method="POST">
        <div class="row g-3">
            <div class="col-md-12"><label class="form-label fw-bold">Nome Oficial</label>
                <input type="text" name="nome_oficial" class="form-control" placeholder="Ex: Biblioteca Municipal" required></div>
            <div class="col-md-6"><label class="form-label fw-bold">E-mail</label>
                <input type="email" name="email_oficial" class="form-control"></div>
            <div class="col-md-6"><label class="form-label fw-bold">Telefone</label>
                <input type="text" name="telefone_principal" class="form-control"></div>
            <div class="col-md-6"><label class="form-label fw-bold">Instagram</label>
                <input type="text" name="site_url" class="form-control" placeholder="@perfil"></div>
            <div class="col-md-6"><label class="form-label fw-bold"> Endereço</label>
                <input type="text" name="endereco_completo" class="form-control"></div>
           <div class="col-md-12">            
            <label>Observações</label>
            <textarea name="observacao" class="form-control"></textarea>
            </div>
       </div>
<div class="mt-4">
    <button type="submit" class="btn btn-danger px-5"
        onclick="this.disabled=true; this.innerText='Salvando...';">
        Salvar Instituição
    </button>

    <a href="/escolher_cadastro" class="btn btn-outline-secondary ms-2">
        Voltar
    </a>
</div>
</form>
{% endblock %}
