{% extends "base.html" %}
{% block content %}

<h2>Editar Pessoa</h2>

<form method="POST">
    <div class="row g-3">

        <div class="col-md-12">
            <label class="form-label fw-bold">Nome</label>
            <input type="text" name="nome" class="form-control"
                   value="{{ pessoa.nome }}" required>
        </div>

        <div class="col-md-6">
            <label class="form-label fw-bold">Email</label>
            <input type="email" name="email" class="form-control"
                   value="{{ pessoa.email }}">
        </div>

        <div class="col-md-6">
            <label class="form-label fw-bold">Telefone</label>
            <input type="text" name="telefone" class="form-control"
                   value="{{ pessoa.telefone }}">
        </div>

        <div class="col-md-6">
           <label class="form-label fw-bold">Endereço</label>
           <input type="text" name="endereco" class="form-control"
           value="{{ pessoa.endereco }}">
</div>      

        <div class="col-md-6">
            <label class="form-label fw-bold">Instagram</label>
            <input type="text" name="instagram" class="form-control"
                   value="{{ pessoa.instagram }}">
        </div>

        <div class="col-md-6">
            <label class="form-label fw-bold">Cargo</label>
            <input type="text" name="cargo" class="form-control"
                   value="{{ pessoa.cargo }}">
        </div>

        <div class="col-md-12">
            <label>Observações</label>
            <textarea name="observacao" class="form-control">{{ pessoa.observacao }}</textarea>
        </div>

        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-danger fw-bold">
                Salvar Alterações
            </button>
            <a href="{{ url_for('pessoas') }}" class="btn btn-outline-secondary ms-2">
                Cancelar
            </a>
        </div>

    </div>
</form>

{% endblock %}
