{% extends 'base.html' %}

{% block content %}
<h2>Detalhes da Instituição</h2>

<div class="detalhes-container" style="border: 1px solid #ccc; padding: 20px;">
    <h3>{{ instituicao.nome_oficial }}</h3>
    <hr>

    <p><strong>Email:</strong> {{ instituicao.email_oficial or '-' }}</p>

    <p><strong>Telefone:</strong> {{ instituicao.telefone_principal or '-' }}</p>

    <p><strong>Instagram:</strong> {{ instituicao.site_url or '-' }}</p>

    <p><strong>Endereço:</strong> {{ instituicao.endereco_completo or '-' }}</p>

    <p><strong>Observações:</strong> {{ instituicao.observacao or '-' }}</p>

</div>

<br>
<a href="/" class="btn btn-outline-danger">Voltar</a>
{% endblock %}
